@use "libs/normalize";

@use "common";
@use "header/" as *;
@use "main/section-main-info" as *;
@use "main/section-logo-info" as *;
@use "main/section-advantage" as *;
@use "main/section-capabilities" as *;
@use "main/section-productivity" as *;
@use "main/section-chief" as *;