@use "libs/normalize";

@use "common";
@use "header/" as *;
@use "main/main-info" as *;
@use "main/logo-info" as *;
@use "main/advantage" as *;
@use "main/capabilities" as *;
@use "main/productivity" as *;
@use "main/chief" as *;
@use "main/grade" as *;

