@use "../presets/" as *;
@use "../mixins/" as *;

.automation{
  padding-top: 166px;
  margin-bottom: 162px;
  &-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    font-weight: 600;
    font-size: 65px;
    line-height: $line-height-md;
    max-width: 880px;
    text-align: center;
    @include xl{
      font-size: 57px;
    }
    @include lg{
      font-size: 50px;
    }
    @include md{
      font-size: 43px;
    }
    @include xx{
      font-size: 35px;
    }
  }
  &__description{
    font-size: 25px;
    line-height: $line-height-md;
    max-width: 580px;
    text-align: center;
    margin-inline: auto;
    padding-bottom: 23px;
    @include xl{
      font-size: 22px;
    }
    @include lg{
      font-size: 16px;
    }
    @include md{
      font-size: 16px;
    }
    @include xx{
      font-size: 12px;
    }
  }
  &__picture{
    width: 98%;
    height: 98%;
    padding-bottom: 28px;
  }
  &__image{
    width: 98%;
    height: 98%;
  }
}
.btn--xl{
  padding: 22px 28px;
  @include lg{
    padding: 18px 24px;
  }
  @include md{
    padding: 12px 18px;
  }
  @include xx{
    padding: 6px 12px;
  }
}