@use "../presets/" as *;
@use "../mixins/" as *;

.capabilities{
  background-color: $color-yellow-light;
  padding-bottom: 93px;
  &-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 110px;
    grid-row-gap: 50px;
    align-items: center;
    align-self: center;
    padding-bottom: 53px;
    @include lg{
      grid-template-columns: repeat(2, 1fr);
    }
    @include xs{
      grid-template-columns: 1fr;
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;
  }
  &__title{
    font-weight: 600;
font-size: 50px;
line-height: $line-height-md;
text-align: center;
padding-top: 120px;
margin-bottom: 78px;
@include lg{
  font-size: 30px;
}
@include xs{
  font-size: 27px;
}
  }
}
.capabilities-item{
  &__title{
    font-weight: 600;
    font-size: 25px;
    line-height: $line-height-xl;
    margin: 0;
    @include xl{
      font-size: 20px;
    }
    @include lg{
      font-size: 18px;
    }
    @include md{
      font-size: 16px;

    }
  }
  &__description{
    font-size: 18px;
    line-height: $line-height-xl;
    margin: 0;
    text-align: center;
    max-width: 303px;
    @include lg{
  font-size: 15px;
}
@include xs{
  font-size: 10px;
}
  }
}
