@use "../presets/" as *;
@use "../mixins/" as *;

.chief{
  background-color: $color-blue-light;
  &-wrapper{
    display: flex;
    gap: $gap-xs;
    padding-top: 55px;
    padding-bottom: 95px;
    @include sm{
      flex-direction: column-reverse;
    }
  }
  &__description{
    font-size: 30px;
    line-height: $line-height-xl;
    max-width: 920px;
    margin-top: 0;
    margin-bottom: 22px;
    @include xl{
      font-size: 25px;
    }
    @include lg{
      font-size: 20px;
    }
    @include md{
      font-size: 15px;
    }
  }
  &-info{
    &__title{
      line-height: $line-height-xxl;
      margin-bottom: 5px;
      @include xl{
        font-size: 12px;
      }
      @include md{
        font-size: 9px;
      }
    }
    &__picture{
      @include ul-sm{
        width: 100%;
        height: 100%;
      }
      @include sm{
        width: 75%;
        height: 75%;
      }
    }
    &__image{
      @include ul-sm{
        width: 100%;
        height: 100%;
      }
      @include sm{
        width: 75%;
        height: 75%;
      }
    }
      &__logo{
        max-width: 115px;
        @include lg{
          max-width: 95px;
        }
        &-image{
         width: 100%;
        }
      }
    }
  }
