@use "../presets/" as *;
@use "../mixins/" as *;

.grade{
  background-color: $color-brown-light;
  padding-top: 80px;
  padding-bottom: 80px;
  &-wrapper{
    display: grid;
    grid-template-columns: 64% 36%;
    @include xl{
      grid-template-columns: 55% 45%; 
    }
  }
  &-item{
    display: flex;
    align-items: center;
    gap: 65px;
    justify-content: center;
    &--border{
      border-right: 1px solid;
    }
    @include lg{
      flex-wrap: wrap;
      gap: $gap;
      justify-content: center;
    }
    &__title{
      font-weight: 600;
      font-size: 35px;
      line-height: $line-height-lg;
      @include xl{
        font-size: 30px; 
      }
      @include lg{
        font-size: 30px;
        text-align: center;
      }
      @include xx{
        font-size: 25px;
        text-align: center;
      }
      @include ux{
        font-size: 20px;
        text-align: center;
      }
    }
    &__image{
      @include md{
        width: 150px;
      }
      @include xx{
        width: 115px;
      }
      &-star-first{
        @include xx{
          width: 115px;
        }
      }
      &-star-second{
        @include xx{
          width: 115px;
        }
      }
    }
  }
}