@use "../presets/" as *;
@use "../mixins/" as *;

.logo-info{
  background-color: $color-accent-light;
  padding-top: 100px;
  margin-bottom: 90px;
  &__title{
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    line-height: $line-height-md;
    max-width: 740px;
    margin-top: 0;
    margin-bottom: 60px;
    @include lg{
      font-size: 30px;
    }
    @include xs{
      font-size: 25px;
    }
    
  }
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 103px;
    padding-bottom: 104px;
    @include ul{
      flex-wrap: wrap;
      row-gap: 50px;
    }
  }
}
.container__title{
  display: flex;
  justify-content: center;
  align-items: center;
}