@use "../presets/" as *;
@use "../mixins/" as *;

.content-main-info {
  display: flex;
  justify-content: space-between;
  @include md{
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.main-info{
  margin-bottom: 174px;
  &__title{
    font-weight: 600;
font-size: 4rem;
line-height: $line-height-xs;
padding-bottom: 51px;
margin: 0;
@include xl{
  font-size: 3rem;
  padding-bottom: 40px;
}
@include lg{
  font-size: 2.5rem;
  padding-bottom: 30px;
}
@include md{
  font-size: 2rem;
  padding-bottom: 20px;
}
@include xx{
  font-size: 1.7rem;
  padding-bottom: 20px;
}
  }
  &__description{
    font-size: 1.56em;
    line-height: $line-height-md;
    max-width: 471px;
    padding-bottom: 50px;
    margin: 0;
    @include xl{
      font-size: 1.3em;
      padding-bottom: 40px;
    }
    @include lg{
      font-size: 1em;
      padding-bottom: 30px;
    }
    @include md{
      font-size: 1em;
      padding-bottom: 20px;
    }
    @include xx{
      font-size: 0.8em;
      padding-bottom: 20px;
    }
  }
  &__help{
    margin: 0;
    line-height: $line-height-md;
    @include xl{
      font-size: 1em;
    }
    @include lg{
      font-size: 0.8em;
    }
    @include md{
      font-size: 0.7em;
    }
    @include xx{
      font-size: 0.6em;
      padding-bottom: 20px;
    }
  }
  &__picture{
    @include md{
      margin-bottom: 50px;
    }
  }
  &__image{
    @include xl{
      max-width: 90%;
      max-height: 90%;
    }
  }
}
.btn{
  margin-right: 6px;
  &--lg{
    margin-bottom: 25px;
    @include xl-min{
      min-width: 160px;
      min-height: 60px;
      margin-bottom: 17px;
    }
    @include md-min{
      min-width: 140px;
      min-height: 50px;
      margin-bottom: 14px;
    }
    @include md{
      min-width: 120px;
      min-height: 40px;
      margin-bottom: 14px;
    }
    @include xs{
      min-width: 100px;
      min-height: 30px;
      margin-bottom: 14px;
    }
  }
}