@use "../presets/" as *;
@use "../mixins/" as *;

.header{
  border-bottom: 1px solid $color-grey;
  &-menu{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    gap: $gap-md;
    align-items: center;
    &__logo{
      padding-right: 51px;
      text-align: center;
    }
  }
  &__actions{
    margin-left: auto;
  }
}