$color-primary: #000000;
$color-white: #ffffff;
$color-grey: #CCCCCC;
$color-accent: #FF6336;
$color-accent-light:#ff9c7d;
$color-yellow-light: #fff8e4;
$color-blue-light:#c9e8f2;
$color-brown-light:#dabc98;