$font-header: "Graphik LCG", sans-serif;
$font-primary: "Graphik LCG", sans-serif;
$font-size: 16px;

$gap: 20px;
$gap-xs: $gap * 0.5;
$gap-sm: $gap * 0.75;
$gap-md: $gap * 1.25;
$gap-lg: $gap * 1.5;
$gap-xl: $gap * 2;

$line-height-xs: 1.07;
$line-height-md: 1.2;
$line-height-xl: 1.4;
$line-height-lg: 1.5;
$line-height-xxl: 1.67;
