@use "../presets/" as *;
@use "../mixins/" as *;

.container { 
  width: min(100% - 40px, 1290px);
  margin-inline: auto;
} 
.container_sm{
  max-width: 620px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.btn--accent{
  color: $color-white;
}